@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "rules";

body {
    @include body;
}

h1 {
    @include heading;
}

.flexlayout {
    @include flexlayout;
    flex-direction: row;
}

.flexnav {
    @include flexnav;
    flex-direction: column;

    .navlink {
    width: 195px;
    }
    
}

.flexmain {
    @include flexmain;
}

.accordion-button:not(.collapsed) {
    background-color: $color4;
}

.accordion-button {
    color: $color3
}

.accordion-button {
    background-color: $color5;
}

.splashimg {
    width:300px;
    text-align: center;
}