@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "rules";

body {
    @include body;
}

h1 {
    @include heading;
}

.flexlayout {
    @include flexlayout;
    flex-direction: column;
}

.flexnav {
    @include flexnav;
    flex-flow: column;
    justify-content: space-between;
    display: flex;

        #logo {
            order: -1;
            flex: 1 0 100%;
        }
}

.flexmain {
    @include flexmain;
}

.accordion-button:not(.collapsed) {
    background-color: $color4;
}

.accordion-button {
    color: $color3
}

.accordion-button {
    background-color: $color5;
}

.splashimg {
    width:300px;
    text-align: center;
}