$color1: #0A100D;
$color2: #B9BAA3;
$color3: #D6D5C9;
$color4: #A22C29;
$color5: #902923;
$headFont: 'Permanent Marker', cursive;;
$contentFont: 'Montserrat', sans-serif;

@mixin body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px;
}

@mixin flexlayout {
    display: flex;
    margin: 0px;
    padding: 0px;
}

@mixin flexnav {
    padding: 0px;
    margin: 2px;
    font-family: $headFont;
    font-size: 1.5em;
    width: 195px;
    padding: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;

    a:link, a:visited {
        background-color: $color5;
        color: $color3;
        // text-align: center;
        text-decoration: none;
        // display: inline-block;
    }

    a:hover, a:active {
        background-color: $color4;
    }

    .navlink {
        border: 1px solid $color1;
        text-align: center;
        padding: 0px;
    }

    #logo {
        width: 195px;
        height: 195px;
    }
}

@mixin flexmain {
    background-color: $color2;
    background-image: radial-gradient(white, $color2);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid $color1;
    color: $color1;
    font-family: $contentFont;
    width: 100%;
    min-width: 600px;
}

@mixin heading {
    font-family: $headFont;
    font-size: 8em;
    color: $color1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

@mixin content() {
    font-family: $contentFont;
}