$color1: #0A100D;
$color2: #B9BAA3;
$color3: #D6D5C9;
$color4: #A22C29;
$color5: #902923;
$headFont: 'Permanent Marker', cursive;;
$contentFont: 'Montserrat', sans-serif;

@mixin heading {
font-family: $headFont;
font-size: 8em;
color: $color1;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
}

@mixin content() {
    font-family: $contentFont;
}