{% extends 'base.html' %}

{% block content %}

<h2>Anthropology</h2>

<p>
    In his television series How Music Works, Howard Goodall presents theories that human rhythm recalls the regularity with which we walk and the heartbeat. Other research suggests that it does not relate to the heartbeat directly, but rather the speed of emotional affect, which also influences heartbeat. Yet other researchers suggest that since certain features of human music are widespread, it is "reasonable to suspect that beat-based rhythmic processing has ancient evolutionary roots". Justin London writes that musical metre "involves our initial perception as well as subsequent anticipation of a series of beats that we abstract from the rhythm surface of the music as it unfolds in time". The "perception" and "abstraction" of rhythmic measure is the foundation of human instinctive musical participation, as when we divide a series of identical clock-ticks into "tick-tock-tick-tock".
</p>
<p>
    Joseph Jordania recently suggested that the sense of rhythm was developed in the early stages of hominid evolution by the forces of natural selection. Plenty of animals walk rhythmically and hear the sounds of the heartbeat in the womb, but only humans have the ability to be engaged (entrained) in rhythmically coordinated vocalizations and other activities. According to Jordania, development of the sense of rhythm was central for the achievement of the specific neurological state of the battle trance, crucial for the development of the effective defense system of early hominids. Rhythmic war cry, rhythmic drumming by shamans, rhythmic drilling of the soldiers and contemporary professional combat forces listening to the heavy rhythmic rock music all use the ability of rhythm to unite human individuals into a shared collective identity where group members put the interests of the group above their individual interests and safety.
</p>
<p>
    Some types of parrots can know rhythm. Neurologist Oliver Sacks states that chimpanzees and other animals show no similar appreciation of rhythm yet posits that human affinity for rhythm is fundamental, so that a person's sense of rhythm cannot be lost (e.g. by stroke). "There is not a single report of an animal being trained to tap, peck, or move in synchrony with an auditory beat", Sacks write, "No doubt many pet lovers will dispute this notion, and indeed many animals, from the Lipizzaner horses of the Spanish Riding School of Vienna to performing circus animals appear to 'dance' to music. It is not clear whether they are doing so or are responding to subtle visual or tactile cues from the humans around them."Human rhythmic arts are possibly to some extent rooted in courtship ritual.
</p>
<p>
    The establishment of a basic beat requires the perception of a regular sequence of distinct short-duration pulses and, as a subjective perception of loudness is relative to background noise levels, a pulse must decay to silence before the next occurs if it is to be really distinct. For this reason, the fast-transient sounds of percussion instruments lend themselves to the definition of rhythm. Musical cultures that rely upon such instruments may develop multi-layered polyrhythm and simultaneous rhythms in more than one time signature, called polymeter. Such are the cross-rhythms of Sub-Saharan Africa and the interlocking kotekan rhythms of the gamelan.
</p>
<p>
For information on rhythm in Indian music see Tala (music). For other Asian approaches to rhythm see Rhythm in Persian music, Rhythm in Arabic music and Usul—Rhythm in Turkish music and Dumbek rhythms.
</p>

{% endblock %}